/* Module - Paragraph
================================================== */
p {
	margin: 0 auto;
	line-height: 1.5em;
	margin-top: 10px;
}

.paragraph-container {
	
	@media screen and (max-width: 475px) {
		font-size: .75em;	
}

@media screen and (max-width: 350px) {
		font-size: .5em;		
}


}